<body>
  <div class="card border-primary mb-3" style="max-width: 25rem">
    <img src="img/logoCab.png" alt="Logo du cabinet" />
    <div class="card-body">
      <h4 class="card-title">Connexion</h4>

      <!-- Message d'erreur général -->
      

      <form [formGroup]="loginForm">
        
        <div>
          <label for="emailInput" class="form-label">Adresse email</label>
          <input
            type="email"
            class="form-control"
            id="emailInput"
            formControlName="email"
            placeholder="Saisissez votre email"
            [class.is-invalid]="
              email?.invalid && (email?.dirty || email?.touched)
            "
          />
          <div
            *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="email?.errors?.['required']">L'email est requis</div>
            <div *ngIf="email?.errors?.['email']">Format d'email invalide</div>
            <div *ngIf="email?.errors?.['invalid']">Email incorrect</div>
          </div>
        </div>
        <div>
          <label for="passwordInput" class="form-label">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            id="passwordInput"
            formControlName="password"
            placeholder="Saisissez votre mot de passe"
            [class.is-invalid]="
              password?.invalid && (password?.dirty || password?.touched)
            "
          />
          <div
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="password?.errors?.['required']">
              Le mot de passe est requis
            </div>
            <div *ngIf="password?.errors?.['invalid']">
              Mot de passe incorrect
            </div>
          </div>
        </div>

        <div class="buttons-container mt-3">
          <button
            type="button"
            class="btn btn-primary"
            (click)="navigateToPatients()"
            [disabled]="loginForm.invalid"
          >
            Se connecter
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="navigateToHome()"
          >
            Annuler
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
